<html>
<head>
	<title>$i18n.getText("admin.menu.usersandgroups.user.browser")</title>
	<meta name="decorator" content="panel-admin"/>
</head>
<body class="aui-page-focused aui-page-focused-xlarge">
	<div class="form-body">
	    #if($action.hasAnyErrors())
			<div class="aui-message error">       
			<span class="aui-icon icon-error"></span>
			#foreach ($error in $action.getErrors().values())  
				<p>$error</p>
			#end
			#foreach ($error in $action.getErrorMessages())  
				<p>$error</p>
			#end
			</div>
		#end
		<h2>$action.userName 監査ログ</h2>
		#if ($action.records)
		#foreach ($record in $action.records.getResults())
		<div class="issue-data-block" id="changehistory_summary_$record.id" onclick="AJS.$('table#changehistory_detail_$record.id').toggle(); if (AJS.$('span#changehistory_toggle_$record.id').hasClass('aui-iconfont-collapsed')) { AJS.$('span#changehistory_toggle_$record.id').removeClass('aui-iconfont-collapsed'); AJS.$('span#changehistory_toggle_$record.id').addClass('aui-iconfont-expanded'); } else { AJS.$('span#changehistory_toggle_$record.id').removeClass('aui-iconfont-expanded');  AJS.$('span#changehistory_toggle_$record.id').addClass('aui-iconfont-collapsed'); }" style="cursor: pointer;">
		    <div class="actionContainer">
        		#set ($author = $action.getUserManager().getUserByKey($record.getAuthorKey()))
		        <div class="action-details">
				   <a href="#" title="Collapse" class="twixi"><span class="icon-default aui-icon aui-icon-small aui-iconfont-collapsed" id="changehistory_toggle_$record.id"><span></span></span></a>
	        	   <a class="user-hover user-avatar" rel="" id="changehistory_author_$record.id" href="$req.contextPath/secure/ViewProfile.jspa?name=$velocityhelper.urlencode($author.name)">
	            		<span class="aui-avatar aui-avatar-xsmall">
	            			<span class="aui-avatar-inner">
	            			<img src="$action.getAvatarUrl($author.name)" alt="ユーザープロファイル">
	            			</span>
	            		</span>
	            		$author.displayName
            		</a>
            		が 
            		$record.objectItem.objectName (<small class="parent-name">$record.objectItem.parentName</small>)
            		を
            		$record.summary ($i18n.getText($record.category.nameI18nKey))
            		- <span class="date" title="$action.getOutlookDate().formatDMYHMS($record.created)"><time class="livestamp" datetime="$action.getOutlookDate().formatRss($record.created)">$action.getOutlookDate().formatDMYHMS($record.created)</time></span>
            		<!--
            		- $i18n.getText('jap.ip') : $record.remoteAddr
					#if ($record.eventSource)
					- $record.eventSource
					#end
					#if ($record.description)
					- $record.description
					#end
					-->
				</div>
    			<div class="changehistory action-body">
        			<table cellpadding="0" cellspacing="0" border="0" width="100%" id="changehistory_detail_$record.id" style="display: none">
                  		#if ($record.getValues())
						<thead>
		                    <tr>
		                        <th width="20%">フィールド</th>
		                        <th width="40%">元の値</th>
		                        <th width="40%">新しい値</th>
		                    </tr>
		                </thead>
		                #end
                      	<tbody>
                      		#if ($record.getValues())
                      		#foreach ($recordValue in $record.getValues())
                            <tr>
				                <td width="20%" class="activity-name">
				                $recordValue.getName()
                                </td>
				                <td width="40%" class="activity-old-val">
				                #if ($recordValue.getFrom())
				                $recordValue.getFrom()
				                #end
                                </td>
				                <td width="40%" class="activity-new-val">
				                #if ($recordValue.getTo())
				                $recordValue.getTo()
				                #end
                                </td>
                            </tr>
                            #end
                            #end
                            #if ($record.getAssociatedItems())
                      		#foreach ($recordValue in $record.getAssociatedItems())
                            <tr>
				                <td width="30%" class="activity-name">
								#if ($recordValue.getObjectType() == 'USER')
								$i18n.getText('jap.view.affected.user.profiles')
								#elseif ($recordValue.getObjectType() == 'user')
								$i18n.getText('jap.view.affected.user.profiles')
								#elseif ($recordValue.getObjectType() == 'GROUP')
								$i18n.getText('jap.view.affected.groups')
								#elseif ($recordValue.getObjectType() == 'group')
								$i18n.getText('jap.view.affected.groups')
								#elseif ($recordValue.getObjectType() == 'PROJECT')
								$i18n.getText('jap.view.affected.projects')
								#elseif ($recordValue.getObjectType() == 'project')
								$i18n.getText('jap.view.affected.projects')
								#elseif ($recordValue.getObjectType() == 'SCHEME')
								$i18n.getText('jap.view.affected.schemes')
								#elseif ($recordValue.getObjectType() == 'scheme')
								$i18n.getText('jap.view.affected.schemes')
								#else
								$recordValue.getObjectType()
								#end 
                                </td>
				                <td width="70%" class="activity-old-val" colspan="2">
				                #if ($recordValue.getObjectName())
				                $recordValue.getObjectName() (<small class="parent-name">$recordValue.getParentName()</small>)
				                #end
                                </td>
                            </tr>
                            #end
                            #end
                        </tbody>
		            </table>
	        	</div>
	        </div>
		</div>
		#end
		#end
	</div>
</body>
</html>