<html>
<head>
	<title>$i18n.getText("admin.menu.usersandgroups.user.browser")</title>
	<meta name="decorator" content="atl.general"/>
</head>
<body>
	<div class="generalAdminHeading aui-page-header">
		<header class="aui-page-header">
			<div class="aui-page-header-inner">
				<div class="aui-page-header-main">
					<h2>ユーザー</h2>
				</div>
				<div class="aui-page-header-actions">
					<div class="aui-buttons">
						<a class="aui-button trigger-dialog" id="add-user-link" href="DelegateAddUser!default.jspa" title="システムに新規ユーザーを作成します"> ユーザーを作成</a>
					</div>
				</div>
			</div>
		</header>
	</div>
	<div class="aui-page-panel" style="padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 20px;">
		<form action="DelegateUserBrowser.jspa" class="aui top-label" method="post">
			<div class="form-body">
			    #if($action.hasAnyErrors())
					<div class="aui-message error">       
					<span class="aui-icon icon-error"></span>
					#foreach ($error in $action.getErrors().values())  
						<p>$error</p>
					#end
					#foreach ($error in $action.getErrorMessages())  
						<p>$error</p>
					#end
					</div>
				#end
				<div class="aui-group user-browser-filter-header">
					<div class="aui-item">
						<div class="field-group">
							<label for="user-filter-userSearchFilter">ユーザーをフィルター</label>
							<input class="text full-width-field" id="user-filter-userSearchFilter" placeholder="名前、ユーザー名またはメールアドレスが以下を含む" maxlength="255" name="userSearchFilter" type="text" value="$!action.filter.userSearchFilter">
						</div>
					</div>
					<div class="aui-item" style="float: left">
	                	<div class="field-group">
	                    	<label for="user-filter-group">グループ</label>
		                    <select class="select full-width" id="user-filter-group" name="group" type="text">
		                        <option value="">すべて</option>
			                        #foreach ($group in $action.groups)
						            <option value="$textutils.htmlEncode($group.name)"
						            #if (${action.filter.group} && ${action.filter.group.equals($group.name)})
						                selected="selected"
						            #end
						            >$textutils.htmlEncode($group.name)</option>
						        #end
						    </select>
	    	            </div>
		            </div>
					<div class="aui-item" style="float: left">
						<div class="field-group">
							<label for="user-filter-user-filter-active">ステータス</label>
							<select class="select short-width-field" id="user-filter-user-filter-active" name="activeFilter" type="text">
								<option value="" #if ($action.filter.activeFilter && $action.filter.activeFilter == "")selected="selected"#end>すべてのユーザー</option>
								<option value="true" #if ($action.filter.activeFilter && $action.filter.activeFilter == "true")selected="selected"#end>アクティブ</option>
								<option value="false" #if ($action.filter.activeFilter && $action.filter.activeFilter == "false")selected="selected"#end>非アクティブ</option>
							</select>
						</div>
					</div>
					<div class="aui-item" style="float: left">
						<div class="field-group">
							<label for="user-filter-usersPerPage">1ページ当たりのユーザー数</label>
							<select class="select full-width" id="user-filter-usersPerPage" name="max" type="text">
								<option value="1000000">すべて</option>
									#foreach ($maxValue in $action.maxValues)
									<option value="$maxValue"
									#if (${action.filter.max} && ${action.filter.max} == $maxValue)})
									selected="selected"
									#end
									>$maxValue</option>
									#end
							</select>
						</div>
					</div>
					<div class="aui-item" style="float: left">
						<div class="field-group">
							<label for="user-filter-users">操作</label>
							<span class="user-browser-buttons">
								<input class="button" id="user-filter-submit" name="" title="このフォームを送信します" type="submit" value="フィルター"/>
								<a class="cancel" href="DelegateUserBrowser.jspa?userSearchFilter=&activeFilter=&max=20" id="user-filter-cancel" title="キャンセルします">リセット</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="aui-group count-pagination">
			<div class="results-count aui-item">
				#if ($action.browsableItems.size() == 0)
				#set ($total = 0)
				#set ($start = 0)
				#set ($end = 0) 
				#else
				#set ($total = $action.browsableItems.size())
				#set ($start = $action.filter.start + 1)
				#if ($action.browsableItems.size() < $action.filter.end)
				#set ($end = $action.browsableItems.size())
				#else
				#set ($end = $action.filter.end)
				#end
				#end
				<span class="results-count-total">$total</span> ユーザーのうち <span class="results-count-start">$start</span> から <span class="results-count-end">$end</span> までを表示しています。
			</div>
			<div class="pagination aui-item">
				#set ($pages = $action.pager.getPages($action.browsableItems))
				#if ($action.filter.start > 0)
				    <a class="icon icon-previous" href="DelegateUserBrowser.jspa?start=$action.filter.previousStart"><span>&lt;&lt; 前へ</span></a>
				#end
				#if ($pages.size() > 1)
					#foreach ($page in $pages)
						#if ($page.currentPage)
							<strong>$page.pageNumber</strong>
						#else
						    <a href="DelegateUserBrowser.jspa?start=$page.start">$page.pageNumber</a>
				        #end
				    #end
				#end
				#if ($action.filter.end < $action.browsableItems.size())
				    <a class="icon icon-next" href="DelegateUserBrowser.jspa?start=$action.filter.nextStart"><span>次へ &gt;&gt;</span></a>
				#end
			</div>
		</div>
		<table class="aui aui-table-rowhover" id="user-browser" style="margin: 0;">
			<thead>
				<tr>
					<th>
						フルネーム
					</th>
					<th>
						ユーザー名
					</th>
					<th>
						ログイン情報
					</th>
					<th>
						グループ名	
					</th>
					<!--
					<th>
						アプリケーション
					</th>
					<th>
						ディレクトリ
					</th>
					-->
					<th>
						プロパティ
					</th>
					<th>
						操作
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach ($currentUser in $action.currentPage)
				<tr class="vcard user-row" data-user="$currentUser.name">
					<td data-cell-type="username">
						<a id="$currentUser.name" rel="$currentUser.name" class="user-hover user-avatar" href="$req.contextPath/issues/?jql=reporter%20%20%3D%20%22$velocityhelper.urlencode($currentUser.name)%22%20ORDER%20BY%20created%20DESC">
							<span class="aui-avatar aui-avatar-xsmall"><span class="aui-avatar-inner"><img src="$action.getAvatarUrl($currentUser.name)" alt="ユーザープロファイル"></span></span>
							<span class="fn">#if (!$currentUser.active)<del>#end$currentUser.displayName#if (!$currentUser.active)</del>#end</span>
						</a>
					</td>
					<td data-cell-type="fullname">
						<span class="username">#if (!$currentUser.active)<del>#end$currentUser.name#if (!$currentUser.active)</del><br />(非アクティブ)#end</span>
						<br />
						<a href="mailto:$currentUser.emailAddress"><span class="email">$currentUser.emailAddress</span></a>
					</td>
					<td data-cell-type="login-details">
						#if ($action.getEverLoggedIn($currentUser) == false)
						ログイン履歴なし
						#else
						<strong>ログイン回数:</strong> $action.getLoginCount($currentUser)<br>
						<strong>前回のログイン:</strong> $action.getLastLogin($currentUser)<br>
						#if ($action.isElevatedSecurityCheckRequired($currentUser) == true)
						<strong>前回失敗したログイン:</strong> $action.getLastFailedLogin($currentUser)<br>
						<strong>現在のログイン失敗回数:</strong> $action.getCurrentFailedLoginCount($currentUser)<br>
						<strong>ログイン失敗合計回数:</strong> $action.getTotalFailedLoginCount($currentUser)<br>
						#end
						<br />
						#end
					</td>
					<td data-cell-type="user-groups">
						<ul style="list-style: outside none none; padding: 0px;">
							#foreach ($currentGroup in $action.getGroupsForUser($currentUser))
								<li>$currentGroup</li>
							#end
						</ul>
					</td>
					<!--
					<td data-cell-type="user-groups">
						<ul style="list-style: outside none none; padding: 0px;">
							#foreach ($currentApplication in $action.getApplicationRolesForUser($currentUser))
								<li>$currentApplication.name</li>
							#end
						</ul>
					</td>
					<td data-cell-type="user-directory">$action.getDirectoryForUser($currentUser)</td>
					-->
					<td data-cell-type="user-properties" style="width: 350px; max-width: 350px;">$action.getProperties($currentUser)</td>
					<td data-cell-type="operations">
						#if ($action.canUpdateUser($currentUser) == true)
						<a class="aui-button trigger-dialog" id="edit-user-link-$currentUser.name" href="DelegateEditUser!default.jspa?editName=$velocityhelper.urlencode($currentUser.name)">編集</a>
						#end
						<a class="aui-button trigger-dialog-large" id="audit-user-link-$currentUser.name" href="DelegateAuditUser!default.jspa?userName=$velocityhelper.urlencode($currentUser.name)">監査</a>
					</td>
				</tr>
				#end
			</tbody>
		</table>
		#if ($action.browsableItems.size() == 0)
		<div class="jira-adbox jira-adbox-medium no-results" style="margin: 50px auto;">
			<h3>検索に一致するユーザーは見つかりませんでした</h3>
            <p class="no-results-hint">フィルター条件を変更してください。</p>
        </div>
        #end
		#if ($action.browsableItems.size() > 0)
		<div class="aui-group count-pagination">
			<div class="results-count aui-item">
				#if ($action.browsableItems.size() == 0)
				#set ($total = 0)
				#set ($start = 0)
				#set ($end = 0) 
				#else
				#set ($total = $action.browsableItems.size())
				#set ($start = $action.filter.start + 1)
				#if ($action.browsableItems.size() < $action.filter.end)
				#set ($end = $action.browsableItems.size())
				#else
				#set ($end = $action.filter.end)
				#end
				#end
				<span class="results-count-total">$total</span> ユーザーのうち <span class="results-count-start">$start</span> から <span class="results-count-end">$end</span> までを表示しています。
			</div>
			<div class="pagination aui-item">
				#set ($pages = $action.pager.getPages($action.browsableItems))
				#if ($action.filter.start > 0)
				    <a class="icon icon-previous" href="DelegateUserBrowser.jspa?start=$action.filter.previousStart"><span>&lt;&lt; 前へ</span></a>
				#end
				#if ($pages.size() > 1)
					#foreach ($page in $pages)
						#if ($page.currentPage)
							<strong>$page.pageNumber</strong>
						#else
						    <a href="DelegateUserBrowser.jspa?start=$page.start">$page.pageNumber</a>
				        #end
				    #end
				#end
				#if ($action.filter.end < $action.browsableItems.size())
				    <a class="icon icon-next" href="DelegateUserBrowser.jspa?start=$action.filter.nextStart"><span>次へ &gt;&gt;</span></a>
				#end
			</div>
		</div>
        #end
	</div>
<script>
(function(){
new AJS.SingleSelect({
	element           : AJS.$("#user-filter-group"),
    width             : 180,
    itemAttrDisplayed : "label",
	showDropdownButton: true
});

JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e, $ctx) {
	    initLargeDialogs($ctx);
});

function initLargeDialogs(context) {
		context.find("a.trigger-dialog-large").each(function () {
	        new JIRA.FormDialog({
	            trigger: this,
	            id: this.id + "-dialog",
	            ajaxOptions: {
	                url: this.href,
	                data: {
	                    decorator: "dialog",
	                    inline: "true"
	                }
	            },
	            widthClass: "large"
	        });
	    });
	}

})(jQuery)
</script>
</body>
</html>